<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>project-2</title>
    <%- include partials/_stylesheets %>
  </head>
  <body>
    <div class="wrapper">
      <span class="menu"></span>

      <%- include partials/_navbar %>

      <% for(const type in messages) { %>
        <div class="<%= type %>">
          <h5><%= messages[type] %></h5>
        </div>
      <% } %>
      <main class="container">
        <%- body %>
      </main>
      <%- include partials/_script %>
    </div>
  </body>
</html>
